// primary colors
$orange: hsl(25, 97%, 53%);

// neutral
$white: hsl(0, 0%, 100%);
$light_grey: hsl(217, 12%, 63%);
$dark_blue: hsl(213, 19%, 18%);
$very_dark_blue: hsl(216, 12%, 8%);
$Medium_Grey: hsla(216, 12%, 54%, 0.2);

$font_weight: (
  "medium": 400,
  "bold": 700,
);

$paddingX: 1.5rem;
$paddingY: 1rem;
