footer {
  background-color: hsla(201, 11%, 66%, 0.2);
  padding-bottom: 0.5rem;

  .wrapper {
    text-align: center;
    padding-top: 1.8rem;
    padding-bottom: 0.5rem;

    @include break-point-up(large) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .footer-flex-wrapper {
      @include break-point-up(large) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .img-container {
      @include break-point-up(large) {
        margin: 0;
        padding: 0;
      }
      img {
        width: 50px;
      }
    }

    .list {
      @include break-point-up(large) {
        display: flex;
        justify-content: center;
        gap: 80px;
        text-align: left;
        margin-left: 9.375rem;
      }
      ul {
        margin: 0;
        &:last-of-type {
          margin-bottom: 1.125rem;
        }

        list-style-type: none;
        padding: 0;

        li {
          font-size: 0.875rem;
          opacity: 0.6;
          padding-bottom: 1.2rem;
          cursor: pointer;

          &:hover {
            color: $strong-cyan;
            transition: color 300ms ease-in-out;
          }
        }
      }
    }

    //social-links
    .social-links {
      @include break-point-up(large) {
        padding-right: 3.75rem;
      }
      padding-bottom: 0.7rem;
      a {
        &:not(:last-child) {
          padding-right: 1rem;
        }
        cursor: pointer;
      }
    }
  }

  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: $strong-cyan;
    &:hover {
      color: $light-blue;
    }
  }
}
