// primary colors
$strong-cyan: hsl(171, 66%, 44%);
$light-blue: hsl(233, 100%, 69%);

//Neutral colors
$dark-grayish-blue: hsl(210, 10%, 33%);
$grayish-blue: hsl(201, 11%, 66%);

$font-size: 1.125rem; //18px
$font-size-large: 1.875rem;
$font-size-small: 1.0625rem; //17px;
$font-size-little: 0.9375; //15px;
$font-size-very-small: 0.8125rem; //13px

$f-family: 'Bai Jamjuree', sans-serif;
$fixed-weight: 500px;

//spacing
$paddingX: 1rem;
$paddingY: 0;
